<a href="{{ path('category_index') }}">Category</a><br>
<a href="{{ path('item_index') }}">Item</a><br>
<a href="{{ path('img_index') }}">Image</a><br>
<a href="{{ path('param_index') }}">Param</a><br>