{% extends 'base.html.twig' %}

{% block body %}
    <div class="ui cards" style="margin:auto;">
    {% for categoryEntity in categoryEntities %}
        <div class="card">
            <div class="content">
                <div class="header">{{ categoryEntity.name }}</div>
                <div class="description">
                    <a href="{{ path('item_table_by_category', {'id': categoryEntity.id}) }}">Show</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}